@keyframes hello {
    0% {
    	opacity: 0;

    	
    }
    100% {
    	opacity: 1;
    	transform: translateX(0);
    }
}

@keyframes pop {
    0% {
    	

    	
    }
    50% {
    	transform: scale(1.2);

    	
    }
    100% {
    	transform: scale(1);
    }
}

body {
  margin: 0;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fast {
	transform: translateX(50px);
	
	-webkit-animation: hello 2s infinite ;
   animation: hello 2s infinite;
}

.cool {
	cursor: pointer;
	padding: 20px;
	text-transform: uppercase;
	border-radius: 5px;
	border-color: #065c6f;
	color: #fff;
	background-color: #065c6f;

-webkit-box-shadow: 10px 10px 60px 6px rgba(0,0,0,0.36);
-moz-box-shadow: 10px 10px 60px 6px rgba(0,0,0,0.36);
box-shadow: 10px 10px 60px 6px rgba(0,0,0,0.36);
}

.cool:hover{
	-webkit-animation: pop 1s ease-in-out;
   animation: pop 1s ease-in-out;
}
